six==1.11.0
ForgeryPy==0.1
pyotp==2.2.6
django_auth_ldap==1.7.0
sshpubkeys==3.1.0
itsdangerous==0.24
celery==5.2.2
passlib==1.7.1
paramiko==2.4.1
chardet==3.0.4
djangorestframework_bulk==0.2.1
python_keycloak_client==0.1.3
config==0.4.2
django_formtools==2.1
keycloak==1.6.0
PyYAML==5.1.2
