{% extends '_base_list.html' %}
{% load i18n static %}
{% block table_search %}
    <div class="" style="float: right">
       <div class=" btn-hero">
            <button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">CSV <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li>
                    <a class=" btn_export" tabindex="0">
                    <span>{% trans "Export" %}</span>
                    </a>
                </li>
                <li>
                    <a class=" btn_import" data-toggle="modal" data-target="#import_modal" tabindex="0">
                    <span>{% trans "Import" %}</span>
                    </a>
                </li>
                <li>
                    <a class=" btn_update" data-toggle="modal" data-target="#update_modal" tabindex="0">
                    <span>{% trans "Update" %}</span>
                    </a>
                </li>
            </ul>
       </div>
   </div>
{% endblock %}
{% block table_container %}
<div style="overflow:auto;width: 100%">
<table class="table table-striped table-bordered table-hover " id="hero_list_table" >
    <thead>
        <tr>
            <th class="text-center">{% trans 'Name' %}</th>
            <th class="text-center">{% trans 'Dad Heros' %}</th>
            <th class="text-center">{% trans 'Son Heros' %}</th>
        </tr>
        {% for hero in querysets %}
        <tr>
            <td>{{ hero.name }}</td>
            <td>{{ hero.dads_display }}</td>
            <td>{{ hero.sons_display }}</td>
        </tr>
        {% endfor %}
    </thead>
</table>

{% endblock %}

{% block custom_foot_js %}
<script>
</script>
{% endblock %}
