{% extends '_base_list.html' %}
{% block content %}
<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">英雄名</th>
      <th scope="col">被克制英雄</th>
      <th scope="col">克制英雄</th>
    </tr>
  </thead>
  <tbody>
    <br />
    <br />
    {% for hero in querysets %}
    <tr>
        <td scope="row">{{ forloop.counter }}</td>
        <td>{{ hero.name }}</td>
        <td>{{ hero.dads_display }}</td>
        <td>{{ hero.sons_display }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}



